## Importación de librerías

In [5]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',None)

#### CARGA DE DATOS CUSTOMER

In [6]:
df_cus = pd.read_excel('../data/raw/customer-details.xlsx')

In [7]:
df_cus

,Unnamed: 0,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,ID
0,0,161770,1,0,2012-04-04,29,089b39d8-e4d0-461b-87d4-814d71e0e079
1,1,85477,1,1,2012-12-30,7,e9d37224-cb6f-4942-98d7-46672963d097
2,2,147233,1,1,2012-02-02,5,3f9f49b5-e410-4948-bf6e-f9244f04918b
3,3,121393,1,2,2012-12-21,29,9991fafb-4447-451a-8be2-b0df6098d13e
4,4,63164,1,2,2012-06-20,20,eca60b76-70b6-4077-80ba-bc52e8ebb0eb
...,...,...,...,...,...,...,...
20110,20110,114469,0,2,2012-10-28,13,25f35a3f-0fd2-4e6a-b4d5-74fa1a1f4cfc
20111,20111,82207,0,1,2012-02-10,27,a3d2d088-3781-44ea-9944-a4a40df51285
20112,20112,135009,0,0,2012-09-14,17,3769cb72-26be-40f2-9a93-f752fc96d628
20113,20113,8486,1,1,2012-07-04,18,d507f6b3-a030-46d7-9615-61fe3f6b8028
20114,20114,144419,1,0,2012-04-12,29,8299f0a6-e4c0-49fc-87ab-81308b70f80f

In [8]:
df_cus.sample(5)

,Unnamed: 0,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,ID
7564,7564,108743,1,1,2012-11-09,5,d1c2b3dc-1405-49b0-a6ce-072a8d1cd340
10270,10270,57362,1,0,2012-08-30,3,4425792f-aec8-40a9-b82d-d69893ef41d0
5417,5417,93209,1,0,2012-03-07,30,2860d295-6641-4dbd-80cd-10b5a346f7c8
12692,12692,39124,2,2,2012-11-09,28,48a68ff3-2a23-4966-b6bd-64e052c25c98
15512,15512,36901,0,2,2012-11-15,5,d895ae06-56ce-47da-a72e-56257a5d246d